@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, @_authState.User.Identity?.Name!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {

    [CascadingParameter]
    private Task<AuthenticationState> _authStateTask { get; set; }

    private AuthenticationState _authState;

    protected override async Task OnInitializedAsync()
    {
        _authState = await _authStateTask;
    }

}